@charset "utf-8";

body{
    font-family: sans-serif;

}

h1{
    font-size: 3em;
    text-decoration: underline;
    margin: 30px;

}

table{
    width: 400px;
    height: 300px;
    background-color: rgb(213, 205, 205);
    text-align: center;
    margin: 15px;
    position: relative;
    border-collapse: collapse;

    
}

thead>tr>th{ 
    font-size: 1.5em;
    padding: 10px;
    background-color: aqua;
    border: 2px dashed black;

}

tr,td{
    border: 1px solid black;

}
 
.color{
    background-color: rgb(216, 239, 9);
}

.color2{
    background-color: rgb(235, 170, 59);
}