@charset "utf-8";



*{
    margin: 0px;
    padding: 3px;
  
    
}

@font-face{
    font-family:'titulo';
    src: url(Segoe\ UI.ttf) format(truetype);
    font-weight: normal;

}

:root{
    --cor1:#fbfbff;
    --cor2:#5fbb97;
    --cor3:#413620;
    --font1:arial,helvetica,sans-serif;
    --font2:'titulo',cursive;

}

body{
    background-color:var(--cor1);
    color: black;
    font-family: var(--font2);
    max-width: 980px;
    min-width: 325px;
    margin: auto;
    padding: 10px;

}

.texto{
    text-align: center;
    font-weight: bolder;
    font-size: 3em;

}
#logo{
    margin: 10px;
    box-shadow:  11px -2px 4px 2px black;;
    border-radius: 50%;
}

.imagens{
    text-align:center;
    padding: 0px;

}



header{
    height: 550px;  
    background-color: var(--cor3);
    color: #ffffff;
    text-align: center;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 20px;
    margin: 10px 0px;
    box-shadow: -5px 18px 20px 0px black;

}
header p{
    font-size: 1.5em;

}

header nav{
    background-color: var(--cor2);
    text-align: left;
    margin: 10px 0px;
    font-size: 1.5em;
    color: beige;
    padding: 3px -2px;
    margin-top: 10px;
    border-top: 10px;
   
}

header nav{
    border-bottom-right-radius: 60px;
    padding-left: 0px;
   
    
}

nav a{
    text-decoration: none;
    padding: 10px;
    transition-duration: .5s;
    color: var(--cor3);
    font-weight: bolder;

    

}

header a:hover{
    text-decoration: underline;
    color:var(--cor1);
    border-radius: 10px;
    background-color: violet;
    padding: 2px 30px;
    

}
main{
    margin-top: 40px;
}

main article{
    
    background-color: var(--cor2);
    text-shadow:  1px 2px 1px black;
    padding 10px;

}
main p{
    line-height: 30px;
}

footer{
    text-align: center;
    font-size: bolder;
  
}

footer ul{
    list-style-position: inside;
    color: black;
    padding: 20px;
    line-height: 30px;
    list-style: none;
    display: flex;
    
   

}


footer nav a:hover{
    background-color: violet;
    border-radius: 70%;
  
    
}


#email{
    
    padding: 10px;
}

#rodape{
    padding: 10px;
    text-size-adjust: 3em;
    color: var(--cor3);
    font-weight: bolder;
   
    

}
